---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import DownloadIcon from "../components/icons/Download.astro";
import EmailIcon from "@src/components/icons/Email.astro";
import Codigo from "../components/icons/Codigo.astro";
import TimeLine from "@src/components/cv/TimeLine.astro";
import ProjectsList from "@src/components/ProjectsList.astro";
import { projects } from "@src/projects/project";
const lastProjects = projects.slice(0, 6);
---

<Layout title="Omar Solis - Portafolio Web">
  <section>
    <div class="w-full flex flex-col gap-5 md:flex-row md:items-center md:gap-16 mb-10">
      <div class="leading-9">
        <h1 class="text-center md:text-left text-4xl font-bold mb-4">
          Hola 👋, Soy Omar!
        </h1>
        <div>
          <nav class="flex gap-2 my-5 text-base flex-col md:flex-row">
            <SocialPill href="https://www.linkedin.com/in/omar-fernando-solis/">
              <LinkedInIcon class="size-6" />
              LinkedIn
            </SocialPill>
            <SocialPill href="CV_OmarSolisWebDeveloper.pdf" download="CV_OmarSolisWebDeveloper.pdf">
              <DownloadIcon class="size-6" />
              CV
            </SocialPill>
            <SocialPill href="mailto:omarsolisdev@gmail.com">
              <EmailIcon class="size-6" />
              omarsolisdev@gmail.com
            </SocialPill>
          </nav>
        </div>
        <div>
          <div class="text-lg space-y-2">
            <p>
              +3 años de experiencia. <span
                class="text-blue-400 dark:text-orange-200"
                >Desarrollador Web</span
              > de Mérida, Yucatán 🇲🇽. Me encanta compartir mi conocimiento en mi
              canal de Youtube
              <a
                class="text-orange-500 dark:text-blue-500 hover:underline transition"
                href="https://www.youtube.com/@AmantesDelCodigo"
                target="_blank">Amantes del Código</a
              >.
            </p>
           
          </div>
        </div>
      </div>
      <img
        src="/omarLogo.jpeg"
        alt="Omar Solis"
        loading="eager"
        class="rounded-3xl rotate-3 mx-4 md:mx-0"
        width="300"
        height="300"
        decoding="async"
      />
    </div>
    <section>
      <TimeLine />
    </section>
    <main>
      <div class="flex flex-col gap-0 md:justify-between md:flex-row md:items-center md:gap-2">
        <div class="text-lg font-bold flex items-center gap-2 md:mb-2">
          <Codigo />
          <h2>Mis Proyectos Recientes</h2>
        </div>
        <a
          href="/proyectos/"
          class="text-base text-center inline-block py-2 underline dark:prose-invert"
          >Todos los proyectos »
        </a>
      </div>
      <ProjectsList proyectos={lastProjects} />
    </main>
  </section>
</Layout>

<style>
  section,
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 1rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
