---
interface Props {
  tecnologia?: string;
}
import { iconos } from "@src/projects/project";
const { tecnologia  } = Astro.props;
const iconUrl = tecnologia ? iconos[tecnologia.toLowerCase()] : null;
---

<span
  class=""
>
  {
    iconUrl ? (
      <img src={iconUrl} alt={tecnologia} title={tecnologia} class="size-6" />
    ) : (
      tecnologia
    )
  }
</span>
